<header>
    <div class="headertext">
        <h1>Vivienne Bonnevier</h1>
    </div>
    <nav>
        <h2>Navigation</h2>
        <ul>
            <li><a tabindex="1" href="{{ url_for('home') }}">Home and Bio</a></li>
            <li><a tabindex="2" href="{{ url_for('fundamentals') }}">Concepts of HTML Design</a></li>
            <li><a tabindex="3" href="{{ url_for('resume') }}">Resume</a></li>
            <li><a tabindex="4" href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>