<!--All of these link back to the contact page. They are for demonstration purposes-->
<div id="mysocial">
    <ul id="socials">
        <li><a tabindex="12" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logof.png" alt="facebook link"></a></li>
        <li><a tabindex="13" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logoig.png" alt="instagram link"></a></li>
        <li><a tabindex="14" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons//logoin.png" alt="linked-in link"></a></li>
        <li><a tabindex="15" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logop.png" alt="pinterest link"></a></li>
        <li><a tabindex="16" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logot.png" alt="twitter link"></a></li>
        <li><a tabindex="17" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logotw.png" alt="tumblr link"></a></li>
    </ul>
    <div id="socialstablet">
        <ul id="social1">
            <li><a tabindex="12" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logof.png" alt="facebook link"></a></li>
            <li><a tabindex="13" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logoig.png" alt="instagram link"></a></li>
            <li><a tabindex="14" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons//logoin.png" alt="linked-in link"></a></li>
        </ul>
        <ul id="social2">
            <li><a tabindex="15" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logop.png" alt="pinterest link"></a></li>
            <li><a tabindex="16" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logot.png" alt="twitter link"></a></li>
            <li><a tabindex="17" href="{{ url_for('contact') }}"><img class="icon" src="/static/images/socmedicons/logotw.png" alt="tumblr link"></a></li>
        </ul>
    </div>
</div>